# Pokemon

In [2]:
#import modules
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

import pandas as pd

In [22]:
#import data
pokemon_df = pd.read_csv("poke_utf8.csv")

pokemon_df = pokemon_df.drop(["Name", '#'], axis=1)

pokemon_data = pokemon_df[['HP', 'Attack', 'Defense', 'Speed', 'Generation']].values

pokemon_labels = pokemon_df['Legendary'].values

pokemon_df.info()

pokemon_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 799 entries, 0 to 798
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   HP          799 non-null    int64
 1   Attack      799 non-null    int64
 2   Defense     799 non-null    int64
 3   Speed       799 non-null    int64
 4   Generation  799 non-null    int64
 5   Legendary   799 non-null    bool
dtypes: bool(1), int64(5)
memory usage: 32.1 KB

               HP      Attack     Defense       Speed  Generation
count  799.000000  799.000000  799.000000  799.000000  799.000000
mean    69.287860   79.028786   73.884856   68.300375    3.326658
std     25.537377   32.468345   31.179997   29.071468    1.660292
min      1.000000    5.000000    5.000000    5.000000    1.000000
25%     50.000000   55.000000   50.000000   45.000000    2.000000
50%     65.000000   75.000000   70.000000   65.000000    3.000000
75%     80.000000  100.000000   90.000000   90.000000    5.000000
max    255.000000  190.000000  230.000000  180.000000    6.000000

In [20]:
pokemon_df['Legendary'].value_counts()

False    734
True      65
Name: Legendary, dtype: int64

In [10]:
X_train, X_test, y_train, y_test = train_test_split(pokemon_data, pokemon_labels, 
                                                    test_size=0.3, random_state=11)

In [11]:
dt  = DecisionTreeClassifier(random_state=11)

In [12]:
dt.fit(X_train, y_train)

DecisionTreeClassifier(random_state=11)

In [13]:
pred = dt.predict(X_test)
print(pred)

[False False False False False False  True False False False False False
  True False False False False False  True False False False False False
 False False False False  True False False False False  True False False
 False False False False False False False False False False False False
 False False False False False False False False False False False  True
 False False False False False False False  True False False False False
 False False False False False False False False False False False  True
 False False False False False False False False False False False False
 False False False False False False False False  True False False False
 False False False False  True False  True False False False False  True
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False  True  True
 False False False False False False False False False False False False
 False False False  True False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False  True False False False False False False False False
 False False False False False False False False False False  True False]

In [14]:
from sklearn.metrics import accuracy_score
print('예측 정확도: {0:.4f}'.format(accuracy_score(y_test,pred)))

예측 정확도: 0.9292